<p>home works!</p>
<app-employee (msgevent)="receiveddata($event)">

</app-employee>
<h3>{{display}}</h3>

@if(type == 1 ){
    <div>
        <h1>{{disp}}</h1>
    </div>
}
@else {
    <div>
        <h1>
            orini 
        </h1>
    </div>
}


@switch (type) {
    @case (2) {
        <div>
            <h1>
                are hoooo
            </h1>
        </div>

    }
    @default {
        <div>
            <h3>hey hey</h3>
        </div>
    }
}

<div *ngFor="let item of emp">
    <h4>name is {{item.name}}</h4>
    <h3>name is {{item.ph}}</h3>
</div>

<div>
    <table>
        <tr>
          <th>name</th>
          <th *ngFor="let e of students">{{e.name}}</th>
        
        </tr>
        <tr>
          <td>age</td>
          <td *ngFor="let e of students">{{e.age}}</td>
        </tr>
        <tr>
            <td>ph</td>
            <td *ngFor="let e of students">{{e.ph}}</td>
          </tr>
      </table>
</div>

<table mat-table [dataSource]="students" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>
  
    <!-- Phone Number Column -->
    <ng-container matColumnDef="ph">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let element"> {{element.ph}} </td>
    </ng-container>
  
    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Data Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<!-- we can give index to track or the partiucular thing to track -->
 <ul>
  @for(e of emp; track e.ph)
  {   
    
       
        <li>{{e.ph}}</li>
        <li>{{e.name}}</li>
    
  }
</ul>

<ul>

    @for(em of emp;track $index;let e=$even,od = $odd){
        @if(e){
            <li style="color: blue;">s1 number {{$index}} with name {{em.name}}</li>
            

        }
        @if(od){
            <li style="color: rgb(255, 0, 221);">s1 number {{$index}} with name {{em.ph}}</li>

        }


    }
</ul>


<table>
 
    <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Age</th>
            <th>Country</th>
        </tr>
    </thead>
    @for(p of olympics; track p.country;) {
    @if(p.country == "india"){
    <tbody>
        <tr style="color: black;background-color: orange;">
            <td>{{$index}}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.age }}</td>
            <td>{{ p.country }}</td>
        </tr>
    </tbody>
    }
    @if(p.country == "ukraine"){
    <tbody>
        <tr style="color: black;background-color: yellow;">
            <td>{{$index}}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.age }}</td>
            <td>{{ p.country }}</td>
        </tr>
    </tbody>
    }
 
    @if(p.country == "usa"){
    <tbody>
        <tr style="color: black;background-color: red;">
            <td>{{$index}}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.age }}</td>
            <td>{{ p.country }}</td>
        </tr>
    </tbody>
    }
 
    }
</table>
@for(em of emp; track $index){
    <div>
        <app-mydirective [name]="em.name" [phone]="em.phone">

        </app-mydirective>

    </div>
}

<h3> {{myvlaue | currency : 'INR'}} </h3>
<h2>{{myvlaue | number: '1.0-0'}}</h2>
<!--will output '4'-->

<h1>{{myvlaue| number:'1.1-2'}}</h1>
<!--will output '-4'-->

<h3>{{result | lowercase}}</h3>
<h3>{{result | uppercase}}</h3>
<h3>{{result | titlecase}}</h3>
<h3>{{result | slice : 2:5}}</h3>
 
<h3>{{emp | json}}</h3>
 
<h3>{{myvlaue | currency}}</h3>
<h3>{{myvlaue | currency : 'INR'}}</h3>
<h3>{{myvlaue | currency : 'USD '}}</h3>
<h3>{{mydate }}</h3>
<h3>{{mydate | date : 'shortDate' }}</h3>
<h3>{{mydate | date : 'longDate'}}</h3>
<h3>{{mydate | date:'MM-dd-yyyy'}}</h3>
<h3>{{mydate  | date : 'fullDate'}}</h3>


<h3>{{myname | mycustompipe}}</h3>
<ul>
    @for(e of degrees; track $index)
    {   
      
         
          <li>{{e.value | number  : '1.1-2'}}</li> 
          <li>{{e.unit}}</li>
      
    }
  </ul>

  <table border="2" style="width: 50%; margin: auto; text-align: left;">
    <thead>
      <tr>
        <th>Original Value</th>
        <th>Converted Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of degrees">
        <td>{{ e.value | number:'1.2-2' }} {{ e.unit }}</td>
        <td [ngClass]="{'fahrenheit': isFahrenheit(e.unit), 'celsius': !isFahrenheit(e.unit)}">
          {{ e.value | tempipe:e.unit }}
        </td>
      </tr>
    </tbody>
  </table>
  

  <mat-form-field>
    <mat-label>Message</mat-label>
    <input matInput value="Disco party!" #message>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Action</mat-label>
    <input matInput value="Dance" #action>
  </mat-form-field>
  
  <!-- <button mat-stroked-button (click)="openSnackBar(message.value, action.value)">Show snack-bar</button> -->

  <div class="cards-container">
    <div class="card" *ngFor="let card of cards">
      <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        </p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full"></p-button>
            <p-button label="Save" class="w-full" styleClass="w-full"></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div>
    <!-- <div>
        <button (click)="getMessage()" mat-button>Send Message</button>
      </div>
      <div>
        <p>{{ dat }}</p>
      </div>
  </div> -->
  <!-- <div>
    <h3>enter the text value</h3>
    <input type="text" #txtnumb placeholder="Enter a number">
    <button (click) = "addNumbers(txtnumb.value)">add</button>
    <ul>
        <li *ngFor="let num of myar">{{ num }}</li>
      </ul>
    
  </div>
  <div>
    <h3>Number List</h3>
    <ul>
      <li *ngFor="let num of myar">
        {{ num }}
        <button (click)="deleteNumber(num)">Delete</button>
      </li>
    </ul>
  </div>
   -->
   <div>
    <h3>Login</h3>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" placeholder="Username">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" type="password" placeholder="Password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()" [disabled]="isLoggedIn">Login</button>
    <button mat-raised-button color="warn" (click)="logout()" [disabled]="!isLoggedIn">Logout</button>
  </div>
  
  <div *ngIf="isLoggedIn" class="card flex justify-content-center">
    <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
      </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full"></p-button>
          <p-button label="Save" class="w-full" styleClass="w-full"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
  