.red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  /* Optionally, if you want to change the whole body background */
  body.red {
    background-color: red;
  }
  
  body.green {
    background-color: green;
  }
  
  body.blue {
    background-color: blue;
  }
  